body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.image-container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 70vw; /* Set width to 70% of the viewport width */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain;
}

.coming-soon {
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    text-align: center;
    width: 100%;
}

.coming-soon p {
    color: #fff;
    font-size: 1.2rem; /* Adjust as needed */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    font-weight: bold; /* Bold text */
    margin: 0;
}
