body {
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.image-container {
    max-width: 95%;
    max-height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 150%;
    max-height: 150%;
    object-fit: contain;
}
